.button {
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-background-color: #2E8B57;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #3CB371;
}